<!DOCTYPE html>
<html>
  <head>
    <title>Clinica Lebranch</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-45RVHYGBPZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-45RVHYGBPZ');
</script>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
   <body class="cuerpop">
    <header class="header">
      <div class="contenedortitulo">
        <h1>Clinica Fisioterapeutica Lebranch</h1>
      </div>
    </header>

    <section class="main">
      <div class="contenedorc">
        <h3>Bienvenidos a La clinica Lebranch</h3>
        <br>
      </div>
      <div class="contenedor">
        <p>Nos especializamos en ofrecerte un servicio de primera totalmente especializado en rehabilitacion, o problema de su primera necesidad.
        </p>
        <img src="../images/descripcion.jpg" alt="" class="imgdesc">
      </div>
      <br>
      <div class="contenedorc">
        <h3>Nuestros servicios</h3>
        <br>
      </div>
      <div class="contenedor2">
        <p>-Terapia fisioterapeutica 20$.</p>
        <br>
        <p>-Terapia electrica 25$.</p>
        <br>
        <p>-Terapia de calor 20$.</p>
        <br>
        <p>-Terapia de acupuntura 20$.</p>
        <br>
        <p>-Paquete de 3 terapias 50$.</p>
        <br>
        <img class="imgserv" src="../images/servicios.jpg" alt="">
      </div>
      <br>
      <div class="contenedorc">
        <h3>Beneficios y ventajas</h3>
        <br>
      </div>
      <div class="contenedor">
        <img class="imgben" src="../images/beneficios.jpg" alt="">
        <p>La rehabilitacion mediante terapias es fundamental para llevar a cabo una buena recuperacion, sin duda alguna los beneficios de una buena atencion fisioterapeutica es de primera necesidad </p>
        <br>
      </div>
    </section>
    <div class="formMap">

          <section class="formulario">
      <form action="/contacto" method="post" class="form" >
        <h2>si nos quieres contactar has el siguiente formulario!</h2>
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" class="inpform" required><br><br>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"  class="inpform" required><br><br>
        <label for="comentario">Comentario:</label>
        <textarea id="comentario" name="comentario" class="inpformu" required></textarea><br><br>    
        <div class="g-recaptcha" data-sitekey="6LdW4akqAAAAADiJ1sVIIgHvYf9wUFk1AE-iVSuO"></div>
        <button class="buttonForm" type="submit">Enviar</button>
      </form>
    </section>

    <section class="Map">
      <h2>estamos ubicados aqui:</h2>
      <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d982.5706619330595!2d-67.3631544101545!3d9.910400999385608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zOcKwNTQnMzcuNCJOIDY3wrAyMSc0NS4wIlc!5e0!3m2!1ses!2sve!4v1736024231673!5m2!1ses!2sve" 
      width="250" height="200" 
      style="border:0;" allowfullscreen="" 
      loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
      </iframe>
    </section>
  </div>

    <footer class="footer">
      <div class="secc">
        <p> Clinica Lebranch Derechos Reservados &copy</p>
      </div>
      <div class="secc">
        <p>contactanos: 0244-8961647 </p>
        <p>-/-email: ClinicLebranch@gmail.com</p>
        <p>-/-ubicación: Sendrea</p>
      </div>
      <div class="secc">
        <p>Siguenos en nuestras redes</p>
      </div>
      <div class="secc">
        <p>facebook: <a href="https://www.facebook.com/lebranchclinic">ClinicLebranch</a></p>
        <p>-/-instagram: <a href="#">@ClinicLebranch22_2</a></p>
        <p>-/-twitter: <a href="#">@ClinicLebranch21</a></p>
      </div>
    </footer>
  </body>
</html>